*{
    padding:0;
    margin:0;
}
html{
    font-family:  "Helvetica Neue", Helvetica, Arial, "Microsoft YaHei", sans-serif;
    font-size: 14px;
}
html,body{
    background:#f4f4f4;
}
form,ul,ol,li,dl,dt,dd { margin: 0; padding: 0; }
li { list-style-type:none; }
img { border: none; }